
/* .IntroContainer {
    display: flex; 
    flex-direction: column;
    /* Centers all content inside this container. This centering is done
    horizontally along the main axis. The default "axis" is a horizontal 
    row. 
     justify-content: center;
    align-items: center;
    /* Container spans the width of the page 
    width: 100%; 
    height: 50vh;
    padding-top: 50px;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
} */

.IntroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh; /* Optional: Set a height for the intro section */
    width: 100%;
}

.IntroContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.ContactContainer,
.LinksContainer {
    width: 100%; /* Subtract gap width from one-third of the page width */
    display: grid; /* Use a grid to display links */
    /* Defines that there should be 2 columns and each column will take
       an equal "fraction" of the available space */
    grid-template-columns: repeat(1, 2fr);
    font-size: 16px; /* Hard sized font */
    justify-content: center; /* Center items horizontally */
    align-content: center; /* Center items vertically */
    gap: 20px;
}

.linkObj {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #ccc;
}

.contactObj {
    color: #ccc;
    text-align: center;
}

.PictureContainer {
    width: 100%;
    height: 200px;
    border-radius: 50%; /*Creates circle shape*/
    overflow: hidden;
    border: 2px solid #ccc; /*Added a basic border for visual "niceness"*/
    position: relative;
    display: flex;
    justify-content: center;
}

.picObj {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ensures the image fills the circle while maintaining its aspect ratio */
}



