
/* SMALL SHIT */
.IntroContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 35vh; /* Optional: Set a height for the intro section */
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .ContactsContainer,
  .LinksContainer {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 2fr);
      justify-content: center; /* Center items horizontally */
      align-content: center; /* Center items vertically */
      gap: 20px;
  }

  .linkObj {
      border: 1px solid #ccc;
      border-radius: 5px;
      text-decoration: none;
      color: #ccc;
  }

  .contactObj {
      color: #ccc;
      text-align: center;
  }

  .PictureContainer {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
  }

  .picObj {
      width: 50%;
      height: 75%;
      margin: auto 0;
      border-radius: 50%; /*Creates circle shape*/
      border: 2px solid #ccc; /*Added a basic border for visual "niceness"*/
      object-fit: cover; /* Ensures the image fills the circle while maintaining its aspect ratio */
  }

/* Adjust layout for DESKTOP Devices */
@media (min-width: 768px) {
    .IntroContainer {
      display: grid;
      justify-content: center;
      align-content: center;
      height: 35vh; /* Optional: Set a height for the intro section */
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      
    }

    .ContactsContainer,
    .LinksContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        justify-content: center; /* Center items horizontally */
        align-content: center; /* Center items vertically */
        gap: 20px;
    }

    .linkObj {
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        color: #ccc;
    }

    .contactObj {
        color: #ccc;
        text-align: center;
    }

    .PictureContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .picObj {
        width: 50%;
        height: 75%;
        margin: auto 0;
        border-radius: 50%; /*Creates circle shape*/
        border: 2px solid #ccc; /*Added a basic border for visual "niceness"*/
        object-fit: cover; /* Ensures the image fills the circle while maintaining its aspect ratio */
    }
}





